<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/style_menu.css">
    <link rel="shortcut icon" href="../../public/favicon.png" type="image/x-icon">
    <title>Flávio Costa - Página de Ensino</title>
</head>
<body>
    <main>
        <div id="menuBarra">
            <a href="#conteudo"><i id="logoBD" class="fa-solid fa-database"></i></a>
            <nav>
                <a href="#agenda">Agenda</a>
                <a href="#material">Material</a>
                <a href="#contato">Contato</a>
            </nav>
        </div>
        <div id="conteudo">
            <div id="banner">
                <h1>Flavio Costa</h1>
            </div>
            <div id="agenda">
                <h2>Agenda</h2>
                <!-- Adicionar a Class importante para destacar o ícone -->
                <table>
                    <tr><th>Titulo</th><th>Data</th><th>Horário</th><th>Local</th><th>Turma</th><th>Descrição</th></tr>
                    <tr class="importante"><td>Teste</td><td>30/12</td><td>10h</td><td>Sala 14b</td><td>Ambas</td><td>Com consulta</td></tr>
                    <tr class="importante"><td>Passeio</td><td>31/12</td><td>12h</td><td>XXX</td><td>Ambas</td><td>Não esquecer a permissão</td></tr>
                    <tr><td>Aula</td><td>Terça</td><td>9h</td><td>Laboratório Novo</td><td>DS212</td><td></td></tr>
                    <tr><td>Aula</td><td>Quarta</td><td>10h</td><td>Laboratório Novo</td><td>DS212</td><td></td></tr>
                    <tr><td>Aula</td><td>Terça</td><td>9h</td><td>Laboratório Novo</td><td>DS214</td><td></td></tr>
                    <tr><td>Aula</td><td>Quarta</td><td>10h</td><td>Laboratório Novo</td><td>DS214</td><td></td></tr>
                </table>
            </div>
            <div id="material">
                <h2>Material</h2>
                <table>
                    <tr><th>Aula</th><th>Data</th><th>Titulo</th><th colspan="4">Material</th></tr>
                    <tr><td>1</td><td>30/12</td><td>Funções de Agregação</td><td><a target="_blank" href="*" class="materialLink">Slide</a></td><td><a target="_blank" href="*" class="materialLink">Lista</a></td><td><a target="_blank" href="*" class="materialLink">Banco</a></td><td><a target="_blank" href="*" class="materialLink">Modelo</a></td></tr>
                    <tr><td>1</td><td>30/12</td><td>Funções de Agregação</td><td><a target="_blank" href="*" class="materialLink">Slide</a></td><td><a target="_blank" href="*" class="materialLink">Lista</a></td><td><a target="_blank" href="*" class="materialLink">Banco</a></td><td><a target="_blank" href="*" class="materialLink">Modelo</a></td></tr>
                    <tr><td>1</td><td>30/12</td><td>Funções de Agregação</td><td><a target="_blank" href="*" class="materialLink">Slide</a></td><td><a target="_blank" href="*" class="materialLink">Lista</a></td><td><a target="_blank" href="*" class="materialLink">Banco</a></td><td><a target="_blank" href="*" class="materialLink">Modelo</a></td></tr>
                    <tr><td>1</td><td>30/12</td><td>Funções de Agregação</td><td><a target="_blank" href="*" class="materialLink">Slide</a></td><td><a target="_blank" href="*" class="materialLink">Lista</a></td><td><a target="_blank" href="*" class="materialLink">Banco</a></td><td><a target="_blank" href="*" class="materialLink">Modelo</a></td></tr>
                    <tr><td>1</td><td>30/12</td><td>Funções de Agregação</td><td><a target="_blank" href="*" class="materialLink">Slide</a></td><td><a target="_blank" href="*" class="materialLink">Lista</a></td><td><a target="_blank" href="*" class="materialLink">Banco</a></td><td><a target="_blank" href="*" class="materialLink">Modelo</a></td></tr>
                    <tr><td>1</td><td>30/12</td><td>Funções de Agregação</td><td><a target="_blank" href="*" class="materialLink">Slide</a></td><td><a target="_blank" href="*" class="materialLink">Lista</a></td><td><a target="_blank" href="*" class="materialLink">Banco</a></td><td><a target="_blank" href="*" class="materialLink">Modelo</a></td></tr>
                    <tr><td>1</td><td>30/12</td><td>Funções de Agregação</td><td><a target="_blank" href="*" class="materialLink">Slide</a></td><td><a target="_blank" href="*" class="materialLink">Lista</a></td><td><a target="_blank" href="*" class="materialLink">Banco</a></td><td><a target="_blank" href="*" class="materialLink">Modelo</a></td></tr>
                </table>
            </div>
            <div id="contato">
                <h2>Contato</h2>
                <div id="areaContatos">
                    <p>Email professor: teste@gmail.com</p>
                    <p>Email monitor: teste@gmail.com</p>
                </div>
            </div>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>